[Unit]
Description=Gubernator Worker Agent (Centurion)
Documentation=https://github.com/mario-ezquerro/gubernator
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=simple
ExecStart={{ gbnt_install_path }} legion join --manager http://{{ hostvars[groups['manager'][0]]['ansible_host'] | default(groups['manager'][0]) }}:{{ gbnt_api_port }} --token {{ hostvars[groups['manager'][0]]['cluster_join_token'] | default(gbnt_join_secret) }} {% if hostvars[groups['manager'][0]]['gbnt_api_token'] is defined %}--api-token {{ hostvars[groups['manager'][0]]['gbnt_api_token'] }}{% endif %}
Restart=always
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
